<!DOCTYPE html>
<html>
	<head> 
		<title>admin</title> 
		<meta charset="utf-8"/>
	</head>
<body>
	<h1>Admin</h1><br>
	<form action="/viewUsers" method="GET">
		<input type="submit" value="View Users">
	</form><br>
	<form action="/addUser" method="POST">
  		<label for="fname">First name:</label><br>
  		<input type="text" id="fname" name="fname"><br>
  		<label for="lname">Last name:</label><br>
  		<input type="text" id="lname" name="lname"><br>
		<label for="password">Password:</lavel><br>
		<input type="text" id="password" name="password"><br><br>
		<input type="submit" value="Create User">
	</form> 



</body>
</html>
